name: CI

on: [push]

jobs:
  minitest-5:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '3.4', '3.3', '3.2', '3.1', '3.0', '2.7', '2.6', '2.5', '2.4', '2.3' ]
    env:
      BUNDLE_GEMFILE: gemfiles/minitest_5.gemfile
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
    - uses: ruby/setup-ruby@a25f1e45f0e65a92fcb1e95e8847f78fb0a7197a # v1.273.0
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies
      run: bundle install
    - name: Run test
      run: bundle exec rake

  minitest-6:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '3.4', '3.3', '3.2' ]
    env:
      BUNDLE_GEMFILE: gemfiles/minitest_6.gemfile
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
    - uses: ruby/setup-ruby@a25f1e45f0e65a92fcb1e95e8847f78fb0a7197a # v1.273.0
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies
      run: bundle install
    - name: Run test
      run: bundle exec rake
